*.o
*.filters
*.log
Debug*
Release*
*.vcxproj
h2o.xyz
xyzTeste.xyz
xyzAll.xyz
points.xyz
Eu*
*.inp
*.exe
repulsion*
fred*
log.txt
LumpacViewInput-back.txt
data/teste*
fitness.txt
hardin*
data/GUARDANDO*
placeLigand*
xyzAll*
mol*
btfa-rotated.xyz
btfa-*
data/ligantes*
BUVXAR11*
h2o-teste*
h2o-coord*
complexAfterAnnealing.xyz
initialComplexBeforeAnnealing.xyz
Lumpac-View-Ligand*
data/importante*
data/TOOLS*
DUCNAQ*
data/lixo*
trip*
z*
assemble*
teste*
permutations*
data/melhor*
*.xyz
*vcxproj*
*.out
*.arc
*.mop






